h1 {
  color: #6757d9;
  margin-bottom: 50px;
  font-size: 2.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 20px;
}

a {
  background-color: #6757d9;
  margin-bottom: 2rem;
  padding: 1.5rem 5rem;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.2s ease-in;
}

a:hover {
  background-color: tomato;
}
